.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.preview-info {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: flex-start;
}

.preview-info h2 {
    text-transform: capitalize;
}

@media only screen and (min-width: 1024px) {
    .preview {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        justify-content: flex-start;
        grid-gap: 30px;
        padding: 30px;
    }

    .preview-info {
        margin-top: 0;
        grid-gap: 20px;
    }
}